In [32]:
pip install pymupdf

Requirement already satisfied: pymupdf in c:\users\shrinjita paul\anaconda3\lib\site-packages (1.23.20)
Requirement already satisfied: PyMuPDFb==1.23.9 in c:\users\shrinjita paul\anaconda3\lib\site-packages (from pymupdf) (1.23.9)
Note: you may need to restart the kernel to use updated packages.

In [34]:
import fitz  # PyMuPDF
import csv

def read_pdf(pdf_path):
    doc = fitz.open(pdf_path)
    text = ""
    
    for page_number in range(doc.page_count):
        page = doc[page_number]
        text += page.get_text()

    doc.close()
    return text

def write_to_csv(text, csv_path):
    lines = text.split('\n')
    with open(csv_path, 'w', newline='', encoding='utf-8') as csv_file:
        csv_writer = csv.writer(csv_file)
        for line in lines:
            csv_writer.writerow([line])

if __name__ == "__main__":
    pdf_path = 'ChandraSekharReddy - Full stack Java.pdf'
    csv_path = 'output.csv'

    pdf_text = read_pdf(pdf_path)

    if pdf_text:
        write_to_csv(pdf_text, csv_path)
        print(f"PDF contents successfully converted to CSV: {csv_path}")
    else:
        print("Error: PDF text extraction failed.")

PDF contents successfully converted to CSV: output.csv

In [35]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
csv_path = 'output.csv'

# Read CSV file into a DataFrame
df = pd.read_csv(csv_path)

# Remove rows with null values
df_cleaned = df.dropna()

# Display the cleaned DataFrame
print(df_cleaned)

                                                 tech
0                                                   v
1                                           Employers
2    DevOn (Current)                             Mp...
3    Sr Software Developer                       Sr...
4    (Dec,19 – current)                            ...
..                                                 ...
201                                                 
202  Implemented Managed Beans, entity classes, ser...
203                                         Education
204  Master of Computer Applications (MCA) in 2011 ...
205  B.S.C (Computer Science)in 2008 from Acharya N...

[206 rows x 1 columns]

In [36]:
df['tech1'] = df['tech '].str.strip()

In [37]:
df

,tech,tech1
0,v,v
1,Employers,Employers
2,DevOn (Current) Mp...,DevOn (Current) Mp...
3,Sr Software Developer Sr...,Sr Software Developer Sr...
4,"(Dec,19 – current) ...","(Dec,19 – current) ..."
...,...,...
202,"Implemented Managed Beans, entity classes, ser...","Implemented Managed Beans, entity classes, ser..."
203,Education,Education
204,Master of Computer Applications (MCA) in 2011 ...,Master of Computer Applications (MCA) in 2011 ...
205,B.S.C (Computer Science)in 2008 from Acharya N...,B.S.C (Computer Science)in 2008 from Acharya N...
206,NaN,NaN

In [38]:
df.drop(columns=['tech '], inplace=True)

In [39]:
df

                                                 tech1
0                                                    v
1                                            Employers
2    DevOn (Current)                             Mp...
3    Sr Software Developer                       Sr...
4    (Dec,19 – current)                            ...
..                                                 ...
202  Implemented Managed Beans, entity classes, ser...
203                                          Education
204  Master of Computer Applications (MCA) in 2011 ...
205  B.S.C (Computer Science)in 2008 from Acharya N...
206                                                NaN

[207 rows x 1 columns]

In [40]:
result = df.astype(str).agg(' '.join)

In [41]:
df=result

In [42]:
df

tech1    v Employers DevOn (Current)                   ...
dtype: object

In [43]:
df.to_csv('my_data.csv', index=False)